<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Nome</key>
		<string>Nike</string>
		<key>Valor</key>
		<integer>220</integer>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Mizuno</string>
		<key>Valor</key>
		<integer>300</integer>
	</dict>
	<dict>
		<key>Nome</key>
		<string>Adidas</string>
		<key>Valor</key>
		<integer>180</integer>
	</dict>
</array>
</plist>
